*{
    margin: 0;
    padding: 0;
}

.sub-header {
    background: rgba(241, 93, 93, 0.75);
    display: flex;  
    justify-content: space-between;  
    
    
}
.ha{
    margin-left: 20px;
}
.protecons-logo{
    width: 70px;
    height: 30px;
    display: flex;
    float: left;
    padding-left: 28px;
    /* margin-top: 10px; */
}

.sub-menu {
    display: flex;
    float: right;
    /* padding-left: 25px; */
    /* justify-content: space-between; */
   
}
.sub-menu li{
    float: left;
    list-style-type: none;
    padding-left: 45px;
    font-size: medium;
}